{% extends "layout.html" %}
{% block title %}Payload{% end %}
{% block content %}

<div class="container">

	<h2>PAYLOAD<h2>

	<div id="Accordion">

		{% if len(data['session']) > 0 %}
		<div class="card">
			<div class="card-header" id="headingSession">
				<h5 class="mb-0">
				<button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseSession" aria-expanded="false" aria-controls="collapseSession">
				  Session
				</button>
			  </h5>
			</div>
			<div id="collapseSession" class="collapse" aria-labelledby="headingSession" data-parent="#Accordion">
				<div class="card-body">
					{% for k, v in data['session'].items() %}
					<li><b>{{ k }} </b> : {{ v }}</li>
					{% end %}
				</div>
			</div>
	  	</div>
		{% end %}

		{% if len(data['inputs']) > 0 %}
		<div class="card">
			<div class="card-header" id="headingInputs">
				<h5 class="mb-0">
				<button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseInputs" aria-expanded="false" aria-controls="collapseInputs">
				  Inputs
				</button>
			  </h5>
			</div>
			<div id="collapseInputs" class="collapse" aria-labelledby="headingInputs" data-parent="#Accordion">
				<div class="card-body">
					{% for k, v in data['inputs'].items() %}
					<li><b>{{ k }} </b> : {{ v }}</li>
					{% end %}
				</div>
			</div>
	  	</div>
		{% end %}

		{% if len(data['path']) > 0 %}
		<div class="card">
			<div class="card-header" id="headingPath">
				<h5 class="mb-0">
				<button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapsePath" aria-expanded="false" aria-controls="collapsePath">
				  Path
				</button>
			  </h5>
			</div>
			<div id="collapsePath" class="collapse" aria-labelledby="headingPath" data-parent="#Accordion">
				<div class="card-body">
					{% for x in data['path'] %}
						<li>{{ x }}</li>
					{% end %}
				</div>
			</div>
	  	</div>
		{% end %}

		{% if len(data['cookies']) > 0 %}
		<div class="card">
			<div class="card-header" id="headingCookies">
				<h5 class="mb-0">
				<button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseCookies" aria-expanded="false" aria-controls="collapseCookies">
				  Cookies
				</button>
			  </h5>
			</div>
			<div id="collapseCookies" class="collapse" aria-labelledby="headingCookies" data-parent="#Accordion">
				<div class="card-body">
					{% for k, v in data['cookies'].items() %}
					<li><b>{{ k }} </b> : {{ v }}</li>
					{% end %}
				</div>
			</div>
	  	</div>
		{% end %}

		{% if len(data['request']) > 0 %}
		<div class="card">
			<div class="card-header" id="headingRequest">
				<h5 class="mb-0">
				<button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseRequest" aria-expanded="false" aria-controls="collapseRequest">
				  Request
				</button>
			  </h5>
			</div>
			<div id="collapseRequest" class="collapse" aria-labelledby="headingRequest" data-parent="#Accordion">
				<div class="card-body">
					{% for k, v in data['request'].items() %}
					<li><b>{{ k }} </b> : {{ v }}</li>
					{% end %}
				</div>
			</div>
	  	</div>
		{% end %}
		
	</div>

</div>

{% end %}