{% extends "layout.html" %}
{% block title %}Home{% end %}
{% block content %}

<div class="container"> 
	<h2>websocket</h2>
		
	<div id="content"></div>
    <div>
      <span id="status">Connecting...</span>
      <input type="text" id="input" disabled="disabled" />
    </div>		

</div>

<script type="text/javascript">

	$(document).ready(function(){

		var connection = new WebSocket('ws://0.0.0.0:8081/ws');
		var content = $('#content');
  		var input = $('#input');
  		var status = $('#status');
  		
  		var state = 'login';

		connection.onopen = function (event) {
			input.removeAttr('disabled');
    		status.text('Choose name:');
		};

		connection.onclose = function (event) {
			// console.log('closed')
		};

		connection.onerror = function (error) {
		
			content.html($('<p>', {
				text: 'Sorry, but there\'s some problem with your '
				+ 'connection or the server is down.'
			}));
		};

		connection.onmessage = function (event) {

			try {
				var json = JSON.parse(event.data);
				console.log(json)
			} catch (e) {
				console.log('Invalid JSON: ', event.data);
			return;
			}

			if ('a' in json & 'm' in json) {
				addMessage(json.a,json.m);
			}else{
				status.text('Chat:');
			}

		};

		input.keypress(function(e) {
	
			if(e.which == 10 || e.which == 13) {
				
				var msg = $(this).val();
				$(this).val('');
				
				switch(state){
					case 'login':
        				connection.send(JSON.stringify({'a':msg}));
        				state = 'message'
        				break;
      				case 'message':
      					connection.send(JSON.stringify({'s':msg}));
      					break;
      				default:
      					return;
      			}
			}
		});

		function addMessage(author,message) {
			content.prepend('<p>' + author
			+ ': ' + message + '</p>');
		}


	});
</script>

{% end %}