{% extends "layout.html" %}
{% block title %}TEST{% end %}
{% block content %}
		
		<h1>{{data['CharacterName']}}</h1>
				
		<div id="sockettest">
			<h6 id="socketStatus"></h6>
			<div class="container" id="main"></div>
		</div>

		<script type="text/javascript">

			var data = [];
			var i = 1;
			var connection = '';

			function openSocket(){

				var host = location.origin.replace('http','ws') + '/ws/test'

				connection = new WebSocket(host);
				
				var status = $('#socketStatus');

				connection.onopen = function (event) {
					status.html('<p>CONNECTION OPEN</p>');
				};

				connection.onclose = function (event) {
					status.html('<p>CONNECTION CLOSED</p>');
					setTimeout(openSocket, 2000);
				};

				connection.onerror = function (event) {
					status.html('<p>ERROR</p>');
				};

				connection.onmessage = function (event) {
					
					data = JSON.parse(event.data).inbound;
					update(data);
				};
			}

			function update(updateData){

				// updateData.sort(function(first, second) { return first.id - second.id });

				var t = d3.transition().duration(1500);

				var divs = d3.select("#tableBody")
					.selectAll('tr')
					.data(updateData,d=>d.id);

				divs.html(function(d){
					return '<td>'+ d.name + '</td>';
				});

				divs.exit()
					.transition(t)
					.style("background-color", "red")
					.transition(t)
					.style("opacity", 0)
					.remove();

				divs.enter()
					.append('tr')
					.html(function(d){return '<td>'+ d.name + '</td>'})
					.style("opacity", 0)
					.style("background-color", "green")
					.transition(t)
					.style("opacity", 1)
					.transition(t)
					.style("background-color", "white")
					;
				

			}

			$(document).ready(function(){

				var table = d3.select("#main").append("table").attr("class","table table-striped");

				var header = table.append("thead").attr("id","tableHead").append("tr").append("th").text("Data");
				header.on("click" , function(d){ 
					console.log('test');
					connection.send(JSON.stringify({'w':'sending wp'}));
					});
				var tablebody = table.append("tbody").attr("id","tableBody");

				openSocket();
			});

		</script>
{% end %}